@import 'https://fonts.googleapis.com/css?family=Hammersmith+One';
@import 'https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro';
@import 'https://fonts.googleapis.com/css?family=Francois+One';

/* turns placeholder transparent on click */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

@media (min-width: 0px) and (max-width: 410px) {
    .col-sm-3 {
        width: 185px;
    }

    .tabcontent {
        margin: 0 auto;
        width: 55%;
    }

    #admin_movies_tables > tbody > tr > td {
        font-size: xx-small;
    }

    #admin_users_tables > tbody > tr > td {
        font-size: xx-small;
    }

    #centeredmenu ul li {
        display:block;
    }
}

@media (min-width: 410px) and (max-width: 650px) {
    .col-sm-3 {
        width: 185px;
    }

    .tabcontent {
        margin: 0 auto;
        width: 40%;
    }

    #admin_movies_tables > tbody > tr > td {
        font-size: x-small;
    }

    #admin_users_tables > tbody > tr > td {
        font-size: x-small;
    }

    #centeredmenu ul li {
        display:inline-block;
    }
}

@media (min-width: 650px) and (max-width: 768px) {
    .col-sm-3 {
        width: 185px;
    }

    .tabcontent {
        margin: 0 auto;
        width: 35%;
    }

    #admin_movies_tables > tbody > tr > td {
        font-size: small;
    }

    #admin_users_tables > tbody > tr > td {
        font-size: small;
    }

    #centeredmenu ul li {
        display:inline-block;
    }
}

@media (min-width: 768px) {
    #admin_movies_tables > tbody > tr > td {
        font-size: small;
    }

    #admin_users_tables > tbody > tr > td {
        font-size: small;
    }

    #centeredmenu ul li {
        display:inline-block;
    }
}

@media (min-width: 1000px) {
    .tabcontent {
        margin: 0 auto;
        width: 85%;
    }

    #centeredmenu ul li {
        display:inline-block;
    }

    #admin_movies_tables td:nth-child(8), #admin_movies_tables td:nth-child(9) {
        width:150px; word-wrap:break-word;word-break: break-all;table-layout: fixed;
    }

    #admin_users_tables td:nth-child(3) {
        width:150px; word-wrap:break-word;word-break: break-all;table-layout: fixed;
    }
}

h1.carousel-caption {
    font-size: 55px;
}
body {
    background-color: #191919;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?s37171');
    src:  url('fonts/icomoon.eot?s37171#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s37171') format('truetype'),
    url('fonts/icomoon.woff?s37171') format('woff'),
    url('fonts/icomoon.svg?s37171#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-video-camera:before {
    content: "\e914";
}
.icon-cart:before {
    content: "\e93a";
}
.icon-credit-card:before {
    content: "\e93f";
}
.icon-calendar:before {
    content: "\e953";
}
.icon-search:before {
    content: "\e986";
}
.icon-star-empty:before {
    content: "\e9d7";
}
.icon-star-half:before {
    content: "\e9d8";
}
.icon-star-full:before {
    content: "\e9d9";
}
.ad {
    position: absolute;
    bottom: 70px;
    right: 48px;
    z-index: 992;
    background-color:#f3f3f3;
    position: fixed;
    width: 155px;
    padding:1px;
}

.ad-btn-hide {
    position: absolute;
    top: -10px;
    left: -12px;
    background: #fefefe;
    background: rgba(240,240,240,0.9);
    border: 0;
    border-radius: 26px;
    cursor: pointer;
    padding: 2px;
    height: 25px;
    width: 25px;
    font-size: 14px;
    vertical-align:top;
    outline: 0;
}
.img-responsive{
    width: 180px;
    height: 255px;
    display: block;
}

.carbon-img {
    float:left;
    padding: 10px;
}

.carbon-text {
    color: #888;
    display: inline-block;
    font-family: 'Vollkorn', serif;
    font-size: 11px;
    font-weight: 400;
    height: 60px;
    margin-left: 9px;
    width: 142px;
    padding-top: 10px;
}

.carbon-text:hover {
    color: #666;
}

.carbon-poweredby {
    color: #6A6A6A;
    float: left;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 13px;
    text-align: center;
}

/* CSS code from Bootply.com editor */


/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}



/* CUSTOMIZE THE CAROUfEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
h1.carousel-caption {
    font-size: 100px;
}
div.carousel-caption {
    color: white;
    position: absolute;
    top: 200px;
    margin: 30px;
    left: 0;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding: 10px;
    max-width: 500px;
    min-width: 260px;
    display: block;
    z-index: 5;
    position: relative;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color:#555;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
}

.carousel-inner {
    height: 550px;
}

img {
    margin:auto;
}

.col-sm-3.text-center {
    text-decoration: none;
    transition: color 1s;
    color: whitesmoke;
    font-family: 'Titillium Web',sans-serif;
    font-size: small;
    /* text-transform: uppercase; */
    /*letter-spacing: 2px;*/
   /* margin-bottom: 15px;*/
    margin-top:60px;
}

/*
a:hover.col-sm-3.text-center {
    text-decoration: none;
}
*/

div.p_container {
    background: #212121;
    height:130px;
    padding:10px 0px;
    transition: background 1s;
}

.modal_button{
    padding:10px;
    width:100%;
    margin:5px;

}

p.title_movies {
    font-weight: bold;
    font-size: medium;
}


div.polaroid:hover div.p_container{
    background: #24435c;
}

div.polaroid {
    /*box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.9), 0 8px 20px 0 rgba(0, 0, 0, 0.19);*/
    text-align: center;
    background:#060d10;
    width:180px;
    transition:box-shadow 0.5s;
    margin-left: auto;
    margin-right: auto;
}

div.polaroid:hover{
    background: #24435c;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.9), 0px 10px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
div#movies{
    margin-top: 40px;
    height: 500px;
    overflow-y:auto;
    overflow-x: hidden;
    width: 99.7%;
}
div#movies::-webkit-scrollbar
{
    width: 15px;
}

div#movies::-webkit-scrollbar
{
    width: 15px;
}
#movies::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.3);
    border-radius:10px;
    background: #262525;
}
#movies::-webkit-scrollbar-thumb
{
    background-color: #bc3c3d;
    border-radius:10px;
}

div.fixed_container{
    height: 500px;
    width: 1020px;
}
*/


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
    padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
    margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-left: 5px;
}
.featurette-image.pull-right {

}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remve the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
        font-family: 'Hammersmith One', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

}

/* tabs for Now Showing and Coming soon */
.tablinks {
    font-family: "Hammersmith One", Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#centeredmenu {
    width:100%;
    border: 2px solid #24435c;
    overflow:hidden;
    position:relative;
    background-color: #191919;

}
/*
#NS{
    background-color: rgba(119, 119, 119, 0.05);
}

#CS{
    background-color: rgba(119, 119, 119, 0.05);
}
*/

#wrapper {
    -webkit-justify-content: center; /* Safari */
    display: flex;
    align-items: center;
    justify-content: center;
}

#centeredmenu ul {
    /*clear:left;*/
    /*float:left;*/
    /*list-style:none;*/
    margin:0;
    padding:0;
    /*position:relative;
    left:50%;
    text-align:center;*/
}
#centeredmenu ul li {
    /*display:block;*/
    /*float:left;*/
    list-style:none;
    margin:0;
    padding:0;
    /*position:relative;
    right:50%;*/
    /*vertical-align: top;
    width: 50%;*/
}

/*
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid #bc3c3d;
}

ul.tab li {float: left;}
*/
/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #24435c;

}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #24435c;
}

/* Tables */
/*
Generic Styling, for Desktops/Laptops
*/
table {
    align: center;
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 1000px) {

    /* Force table to not be like tables anymore */
    table#admin_movies_tables, table#admin_users_tables, table#admin_theatres_tables, table#admin_sessions_tables, table#admin_movies_tables thead, table#admin_movies_tables tbody, table#admin_movies_tables th, table#admin_movies_tables td, table#admin_movies_tables tr, table#admin_users_tables thead, table#admin_users_tables tbody, table#admin_users_tables th, table#admin_users_tables td, table#admin_users_tables tr, table#admin_theatres_tables thead, table#admin_theatres_tables tbody, table#admin_theatres_tables th, table#admin_theatres_tables td, table#admin_theatres_tables tr, table#admin_sessions_tables thead, table#admin_sessions_tables tbody, table#admin_sessions_tables th, table#admin_sessions_tables td, table#admin_sessions_tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    table#admin_movies_tables td, table#admin_users_tables td, table#admin_theatres_tables td, table#admin_sessions_tables td  {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 30%;
    }

    table#admin_movies_tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    table#admin_users_tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    table#admin_theatres_tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    table#admin_sessions_tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    table#admin_movies_tables td:nth-of-type(1):before { content: "ID"; }
    table#admin_movies_tables td:nth-of-type(2):before { content: "Title"; }
    table#admin_movies_tables td:nth-of-type(3):before { content: "Overview"; }
    table#admin_movies_tables td:nth-of-type(4):before { content: "Release Date"; }
    table#admin_movies_tables td:nth-of-type(5):before { content: "Vote Average"; }
    table#admin_movies_tables td:nth-of-type(6):before { content: "Status"; }
    table#admin_movies_tables td:nth-of-type(7):before { content: "Genre"; }
    table#admin_movies_tables td:nth-of-type(8):before { content: "Poster"; }
    table#admin_movies_tables td:nth-of-type(9):before { content: "Background"; }
    table#admin_movies_tables td:nth-of-type(10):before { content: "Action"; }

    table#admin_users_tables td:nth-of-type(1):before { content: "Name"; }
    table#admin_users_tables td:nth-of-type(2):before { content: "Email"; }
    table#admin_users_tables td:nth-of-type(3):before { content: "Password"; }
    table#admin_users_tables td:nth-of-type(4):before { content: "Admin"; }
    table#admin_users_tables td:nth-of-type(5):before { content: "Address"; }
    table#admin_users_tables td:nth-of-type(6):before { content: "Suburb"; }
    table#admin_users_tables td:nth-of-type(7):before { content: "Postcode"; }

    table#admin_theatres_tables td:nth-of-type(1):before { content: "Location ID"; }
    table#admin_theatres_tables td:nth-of-type(2):before { content: "Theatre No."; }
    table#admin_theatres_tables td:nth-of-type(3):before { content: "Location"; }
    table#admin_theatres_tables td:nth-of-type(4):before { content: "No. Seats"; }
    table#admin_theatres_tables td:nth-of-type(5):before { content: "Action"; }

    table#admin_sessions_tables td:nth-of-type(1):before { content: "Session ID"; }
    table#admin_sessions_tables td:nth-of-type(2):before { content: "Weekday"; }
    table#admin_sessions_tables td:nth-of-type(3):before { content: "Start Time"; }
    table#admin_sessions_tables td:nth-of-type(4):before { content: "Duration"; }
    table#admin_sessions_tables td:nth-of-type(5):before { content: "Booking No."; }
    table#admin_sessions_tables td:nth-of-type(6):before { content: "Movie ID"; }
    table#admin_sessions_tables td:nth-of-type(7):before { content: "Theatre ID"; }
    table#admin_sessions_tables td:nth-of-type(7):before { content: "Action"; }
}



/* Style the tab content */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

div.navbar-collapse.collapse
{
    background-color: #191919;
}

.form-group span
{
    color:red;
}

.receipt
{
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    font-size: 3vh;
}

.receipt-heading
{
    margin-top:10%;
    text-align: center;
}

.receipt-body
{
    margin: 5% 15%;
}

.form-group span
{
    color:red;
}

.receipt
{
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    font-size: 3vh;
}

.receipt-heading
{
    margin-top:10%;
    text-align: center;
}

.receipt-body
{
    margin: 5% 15%;
}

/**********Admin css ****************/


/********sessions ***************/

div.create-form {
    display: none;
}

div.edit-form {
    display: none;
}

.create_button{
    text-align: right;
    margin-top: 10px;
    margin: 20px;
}

ul.manage_list{
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

ul.manage_list li{
    margin:10px;
}

.admin_tables{
    margin-top: 50px;
}

/********* Search bar ***************
http://bootsnipp.com/snippets/featured/custom-search-input*/

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.panel {
    margin-top: 10px;
}

.edit-margin{
    margin-top: 200px;
}

.search {
    display: none;
}
.form-control {
    width:70%;
}

.a.btn.btn-warning.modal_button.confirm_location {
    float: right;
}

.confirm_location{
    padding:10px;
    margin:10px;
}
.modal_list_sessions li{
    line-height:  31px;
    padding-left: 5px;
    font-size: 15px;
    background: #f0eff1;
    margin: 3px;
    /*border-bottom: 2px #999 solid;
    border-right: 2px #999 solid;*/
    width: 100%;
    border-radius: 5px;
}
.show_sessions ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    margin-left: 35%;
    margin-right: 10%;
}

.modal_list_sessions button {
    width: 6em;
    /*background: #24435c;*/
    color: white;
    margin:8px;
}
.modal_list_sessions button:hover span {display:none}
.modal_list_sessions button:hover:before {content:"Book now!"}


/*************CART PAGE **************/
div.checkout {
    display: none;
}

.modalPopSessions
{
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    position: relative;
    background: #d61023;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px;
}

.modalPop {
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px;
}

.modalPopCS {
    text-transform: capitalize;
    border-radius: 0px;
}

.btn-warning {
    border-radius: 0px;
}


p {
    margin: 10px;
}

.row {
    margin: 0px;
}

.col-sm-3 {
    padding: 0;
}

#movies div > p {
    height: 37px;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

#upcoming div > p {
    height: 37px;
}

body > div.container.marketing > div.remodal-bg.remodal-is-closed > div.topMovies > h2 {
    padding: 0 0 10px;
}

#search-form > div > div > div.panel-body > div > div:nth-child(3) > div > input {
    width: 100%
}

#populate_modal > p {
    color: #b6b6b3;
    font-size: 16px;
}

#populate_modal > h1 {
    font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 40px; font-weight: bold;
}

body > div.container > div > h2 {
    margin-left: 25px;
}

body > div.container > div > h4 {
    margin-left: 25px;
}

#topten_tables td {
    text-align: center;
}

