@import 'https://fonts.googleapis.com/css?family=Hammersmith+One';
@import 'https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro';

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

body {
    background-color: #081c24;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?gs30pi');
    src:  url('fonts/icomoon.eot?gs30pi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gs30pi') format('truetype'),
    url('fonts/icomoon.woff?gs30pi') format('woff'),
    url('fonts/icomoon.svg?gs30pi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
    font-size: 3vh;
    content: "\e93a";
}


.ad {
    position: absolute;
    bottom: 70px;
    right: 48px;
    z-index: 992;
    background-color:#f3f3f3;
    position: fixed;
    width: 155px;
    padding:1px;
}

.ad-btn-hide {
    position: absolute;
    top: -10px;
    left: -12px;
    background: #fefefe;
    background: rgba(240,240,240,0.9);
    border: 0;
    border-radius: 26px;
    cursor: pointer;
    padding: 2px;
    height: 25px;
    width: 25px;
    font-size: 14px;
    vertical-align:top;
    outline: 0;
}
.img-responsive{
    height: 240px;
    width: 170px;
}

.carbon-img {
    float:left;
    padding: 10px;
}

.carbon-text {
    color: #888;
    display: inline-block;
    font-family: 'Vollkorn', serif;
    font-size: 11px;
    font-weight: 400;
    height: 60px;
    margin-left: 9px;
    width: 142px;
    padding-top: 10px;
}

.carbon-text:hover {
    color: #666;
}

.carbon-poweredby {
    color: #6A6A6A;
    float: left;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 13px;
    text-align: center;
}

/* CSS code from Bootply.com editor */


/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
div.carousel-caption {
    color: white;
    position: absolute;
    top: 200px;
    margin: 30px;
    left: 0;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding: 10px;
    max-width: 500px;
    min-width: 260px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color:#555;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
}

.carousel-inner {
    height: 550px;
}

img {
    margin:auto;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
    padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
    margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remve the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
        font-family: 'Hammersmith One', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

}

/* tabs for Now Showing and Coming soon */
.tablinks {
    font-family: "Hammersmith One", Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Tables */
#topten {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

div.navbar-collapse.collapse
{
    background-color: #081c24;
}

.form-group span
{
    color:red;
}

.receipt
{
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    font-size: 3vh;
}

.receipt-heading
{
    margin-top:10%;
    text-align: center;
}

.receipt-body
{
    margin: 5% 15%;
}

